VITE_API_URL=http://localhost:1337/api/v1
VITE_APP_NAME=Aura
VITE_APP_ENV=local
VITE_APP_COOKIE_DOMAIN=localhost

VITE_OAUTH_GOOGLE_CLIENT_ID=xxx

VITE_PUBLIC_POSTHOG_KEY=xxx
VITE_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
VITE_PUBLIC_POSTHOG_SESSION_RECORDING=false

VITE_PADDLE_ENVIRONMENT=sandbox
VITE_PADDLE_CLIENT_TOKEN=xxx
VITE_PADDLE_PRICE_BASIC_MONTHLY=xxx
VITE_PADDLE_PRICE_BASIC_ANNUAL=xxx
VITE_PADDLE_PRICE_PRO_MONTHLY=xxx
VITE_PADDLE_PRICE_PRO_ANNUAL=xxx